<section class="parallax" id="cover">
  <h1 class="heading parallax">Destiny City Comics!<br><span id="heading2">Stadium Districts Comic Shop</span></h1>
</section>

<div class="subscribe">
  <div class="container">
    <h1>Love Comic Books?</h1>
    <h3>save money by subscibing to your favorite titles</h3>
    <h1>Find Out More Here</h1>
  </div>
</div>
