@import "bootstrap-sprockets";
@import "bootstrap";


body{
  margin: 0px;
  flex-direction: column;
  min-height: 100vh;
}

*{
  box-sizing: border-box;
}


#no_style{
  text-decoration: none;
}


h1,h2,h3,h4,h5,p{
  font-family: 'comics'
}

@font-face {
    font-family: 'comics';
    src: url('comics.ttf') format('truetype');
}
.active{
  background-color: #e7e7e7;
}

.love-comics > h1{
  font-size: 50px;
}


#nav{
  font-family: 'comics';
  font-size: 20px;
  background-color: #0C7FC4;
  width: 100%;
}
#navbar1 > ul > li > a,#navbar1 > ul > li:nth-child(6){
    color: #fff;
}

#cart-amount > h5{
  padding-right: 8px;
  margin-top:17px;
}


#cover{
  top: 0px;
  filter:blur(2px);
  object-fit: cover;
  width: 100%;
  height: 600px;
}


// stadium districts comic shop
.heading > #heading2{
  position: inherit;
  font-size: 70px;
  color: #0C7FC4;
  font-family: 'comics';
  z-index: 2;
  text-shadow:
   8px  8px     #fff,
  -1px  1px     #fff,
   1px -1px     #fff,
  -1px -1px     #fff,
   1px  1px 5px #555;
}

.parallax1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what{
  width: 300px;
}

.logo{
  padding-top: 30px;
  padding-left: 20px;
  width: 250px;
}


// michael superman
#superman{
  background-image: url('michael-superman');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.darken{
  background-color: rgba(20, 20, 20, .8);
}

// comic icon logo section
.subscribe{
  background-color: white;
}
@media screen and (min-width: 1000px) {
  .heading{
    text-shadow:
     8px  8px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #555;
    top: 200px;
    padding-left: 100px;
    position: absolute;
    font-size: 100px;
    color: #0C7FC4;
    font-family: 'comics';
    z-index: 2;
  }

  .spacer2{
    height: 100px;
  }
  .marvel{
    position: relative;
    top:90px;
    left: 30px;
    width: 200px;
  }
  .image-comics{
    padding: 40px;
    width: 200px;
  }
  .dc{
    left: 80px;
    width: 200px;
    margin: 45px;
  }
  .darkhorse{
    max-width: 200px;
    padding:40px;
  }
}

.center{
  text-align: center;
  font-size: 50px;
}

#heading1{
  text-shadow:
   8px  8px     #fff,
  -1px  1px     #fff,
   1px -1px     #fff,
  -1px -1px     #fff,
   1px  1px 5px #555;
  top: -370px;
  font-size: 1000%;
  position: absolute;
  color: #0C7FC4;
  font-family: 'comics';
  z-index: 2;
}

#heading2{
   text-shadow:
    8px  8px     #fff,
   -1px  1px     #fff,
    1px -1px     #fff,
   -1px -1px     #fff,
    1px  1px 5px #555;
   top: -230px;
   padding-left: 40px;
   position: inherit;
   font-size: 500%;
   color: #0C7FC4;
   font-family: 'comics';
   z-index: 2;
}



#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}



// event section
#events{
  background-color: #F5F8FA;
}

.image{
  display: block;
  margin: 0 auto;
  width:150px;
  height: auto;
  padding: 10px;
}



// map
#map {
  width: 100%;
  height: 500px;
 }


 // social media bar
 .social-media-bar{
   background-color: #575A55;
   height: 150px;
 }
 .social{
   text-align: center;
   margin-top: 19px;
 }



 // events pages start

.events{
  background-color: #F5F8FA;
}

.title-bar{
  background-color: #7C7E83;
  color: white;
  text-align: center;
  height: 80px;
  padding-top: 5px ;
}





// products page
.images{
  width: 200px;
}

.products{
  padding: 50px;
}


//Products pages
.productbox {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
}
.caption {
  padding:10px;
  background-color:rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 40%;
  overflow: hidden;
	font-size: 11px;
  color: #FFF;
}

h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
.img-responsive img{
	width: 100%;
}
.container {
	width: 100%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 5px;
}
.btn-block {
  margin-top: 5px;
}
.saleoffrate{
  position: absolute;
      top:10px;
      left: 10px;
  padding-top: 13px;
  text-align:center;
  background-color: rgba(76, 174, 76,0.8);
  color: #FFFFFF;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 13px;
}


.card-img-top:hover{
   position: relative;
   transition: all .5s;
   transform: scale(.9);
   top: -5px;
 }

.spacer1{
  height: 200px;
}

// footer
.spacer {
  height: 400px;
}
footer{
  background-color:#212220;
    bottom: 0px;
    width: 100%;
    position: relative;
}
// end footer


.stars{
  width: 100px;
}


// boxes
#boxes {
  background: grey;
  padding: 2rem 0 6.5rem 0;
  position: relative;
  .service{
    background: white;
    width: 31%;
    height: 10%;
    float: left;
    margin: -5rem 1% 0 1%;
    padding: 3rem 2.5%;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  }
}
.button-wrapper{
  text-align: center;
  margin: 3rem 0;
}
.button{
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .5rem 3rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #054C7A;
}



















// iPad Pro 1024px
@media only screen and(max-width: 1024px){

  #cover{
    top: 0px;
    filter:blur(2px);
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  #heading2{
     text-shadow:
      8px  8px     #fff,
     -1px  1px     #fff,
      1px -1px     #fff,
     -1px -1px     #fff,
      1px  1px 5px #555;
     top: -125px;
     padding-left: 70px;
     position: inherit;
     font-size: 40px;
     color: #0C7FC4;
     font-family: 'comics';
     z-index: 2;
  }

  #heading1{
    text-shadow:
     8px  8px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #555;
    top: -240px;
    position: absolute;
    font-size: 80px;
    color: #0C7FC4;
    font-family: 'comics';
    z-index: 2;
  }
  img{
      width: 40px;
    }
  button{
    margin-left: 255px;
    margin-top: 10px;
  }

  h3{
    font-size: 30px;
  }

  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
  blockquote, h6{
    font-size: 17px;
  }

  .spacer2{
    height: 10px;
  }

  .dc{
    width: 100px;
    margin-top: 75px;
    margin-left: 60px;
  }
  .marvel{
    margin: 5px;
    margin-left: -10px;
    width: 150px
  }
  .vertigo{
    width: 150px;
    margin: 5px;
    margin-top: 55px;
    margin-left: 19px;
  }
  .image-comics, .darkhorse{
      height: 230px;
      width: 180px;
      margin-left: 10px;
  }

  .darkhorse{
    margin-left: -35px;
  }

// events
  h1{
    text-align: center;
    font-size: 55px;
  }
  body > div > div > div.title-bar > h1{
    font-size: 20px;
  }

  body > div > div > div.container > img{
    width: 250px;
  }

  .logo{
    padding-top: 50px;
    padding-left: 20px;
    width: 200px;
  }

  h2{
    text-align: center;
    font-size: 25px;
  }
  h4{
    text-align: center;
    font-size: 25px;
  }
  .icon{
    width: 80px;
  }
  .social-media-bar{
    height:120px;
  }
  .row{
    margin-right: 0px;
  }

}


// iPad 768px
@media only screen and (max-width: 768px) and (min-width: 414px){

  #cover{
    top: 0px;
    filter:blur(2px);
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
   #heading2{
     text-shadow:
      8px  8px     #fff,
     -1px  1px     #fff,
      1px -1px     #fff,
     -1px -1px     #fff,
      1px  1px 5px #555;
     top: -180px;
     padding-left: 70px;
     position: inherit;
     font-size: 30px;
     color: #0C7FC4;
     font-family: 'comics';
  }

  #heading1{
    text-shadow:
     8px  8px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #555;
    top: -280px;
    padding-left: 0px;
    font-size: 65px;
    color: #0C7FC4;
    font-family: 'comics';
  }
  img{
      width: 40px;
    }
  button{
    margin-left: 185px;
    margin-top: 10px;
  }

  h3{
    font-size: 30px;
  }

  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
  blockquote, h6{
    font-size: 17px;
  }

  .spacer2{
    height: 10px;
  }

  .dc{
    width: 120px;
    margin-top: 60px;
    margin-left: 69px;
  }
  .marvel{
    margin: 5px;
    margin-left: 10px;
    width: 150px;
    margin-top: 80px;
  }
  .vertigo{
    width: 150px;
    margin: 5px;
    margin-top: 55px;
    margin-left: 19px;
  }
  .image-comics, .darkhorse{
      height: 150px;
      width: 100px;
      margin-left: 70px;
      margin-top: 30px;
  }

  .darkhorse{
    margin-left: 20px;
  }

// events
  h1{
    text-align: center;
    font-size: 45px;
  }
  body > div > div > div.title-bar > h1{
    font-size: 20px;
  }

  body > div > div > div.container > img{
    width: 250px;
  }

  .logo{
    padding-top: 50px;
    padding-left: 20px;
    width: 200px;
  }

  h2{
    text-align: center;
    font-size: 25px;
  }
  h4{
    text-align: center;
    font-size: 25px;
  }
  .icon{
    width: 80px;
  }
  .social-media-bar{
    height:120px;
  }
  .row{
    margin-right: 0px;
  }

}



// iPhone 6+ 414px
@media only screen and(max-width: 414px){

  #cover{
    top: 0px;
    filter:blur(2px);
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
   #heading2{
     text-shadow:
      8px  8px     #fff,
     -1px  1px     #fff,
      1px -1px     #fff,
     -1px -1px     #fff,
      1px  1px 5px #555;
     top: -120px;
     padding-left: 30px;
     position: inherit;
     font-size: 30px;
     color: #0C7FC4;
     font-family: 'comics';
     z-index: 2;
  }

  #heading1{
    text-shadow:
     8px  8px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #555;
    top: -280px;
    padding-left: 4px;
    position: absolute;
    font-size: 65px;
    color: #0C7FC4;
    font-family: 'comics';
    z-index: 2;
  }
  img{
      width: 40px;
    }
  button{
    margin-left: 90px;
    margin-top: 10px;
  }

  h3{
    font-size: 20px;
  }

  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
  blockquote, h6{
    font-size: 8px;
  }

  .spacer2{
    height: 10px;
  }

  .dc{
    width: 50px;
    margin-top: 35px;
    margin-left: 30px;
  }
  .marvel{
    margin: 5px;
    margin-top: 45px;
    width: 55px;
  }
  .vertigo{
    width: 50px;
    margin: 5px;
    margin-top: 35px;
    margin-left: 19px;
  }
  .image-comics, .darkhorse{
      height: 70px;
      width: 40px;
      margin-left: 20px;
      margin-top: 15px;
  }

  .darkhorse{
    margin-left: 15px;
  }

  #sign{
    font-size: 20px;
  }

// events
  h1{
    text-align: center;
    font-size: 30px;
  }
  body > div > div > div.title-bar > h1{
    font-size: 20px;
  }

  body > div > div > div.container > img{
    width: 250px;
  }

  h2{
    text-align: center;
    font-size: 15px;
  }
  h4{
    text-align: center;
  }
  .icon{
    width: 80px;
  }
  .social-media-bar{
    height:120px;
  }
  .row{
    margin-right: 0px;
  }

}

// devices max width 375px, iPhone 6
@media only screen and(max-width: 375px){

  #cover{
    top: 0px;
    filter:blur(2px);
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
   #heading2{
     text-shadow:
      8px  8px     #fff,
     -1px  1px     #fff,
      1px -1px     #fff,
     -1px -1px     #fff,
      1px  1px 5px #555;
     top: -140px;
     padding-left: 20px;
     position: inherit;
     font-size: 23px;
     color: #0C7FC4;
     font-family: 'comics';
     z-index: 2;
  }

  #heading1{
    text-shadow:
     8px  8px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #555;
    top: -280px;
    padding-left: 4px;
    position: absolute;
    font-size: 50px;
    color: #0C7FC4;
    font-family: 'comics';
    z-index: 2;
  }
  img{
      width: 40px;
    }
  button{
    margin-left: 45px;
    margin-top: 10px;
  }

  h3{
    font-size: 20px;
  }

  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
  blockquote, h6{
    font-size: 8px;
  }

  .spacer2{
    height: 10px;
  }

  .dc{
    width: 50px;
    margin-top: 35px;
    margin-left: 30px;
  }
  .marvel{
    margin: 5px;
    margin-top: 45px;
    width: 55px;
  }
  .vertigo{
    width: 50px;
    margin: 5px;
    margin-top: 35px;
    margin-left: 19px;
  }
  .image-comics, .darkhorse{
      height: 70px;
      width: 40px;
      margin-left: 20px;
      margin-top: 15px;
  }

  .darkhorse{
    margin-left: 15px;
  }

// events
  h1{
    text-align: center;
    font-size: 35px;
  }
  body > div > div > div.title-bar > h1{
    font-size: 20px;
  }

  body > div > div > div.container > img{
    width: 250px;
  }

  h2{
    text-align: center;
    font-size: 15px;
  }
  h4{
    text-align: center;
  }
  .icon{
    width: 80px;
  }
  .social-media-bar{
    height:120px;
  }
  .row{
    margin-right: 0px;
  }
  .button-wrapper{
    text-align: center;
    margin: 0;
  }
  .button{
    border: none;
    outline: none;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #054C7A;
  }
  #boxes {
    background: grey;
    padding: 2rem 0 6.5rem 0;
    position: relative;
    .service{
      background: white;
      width: 30%;
      float: left;
      margin: -5rem 1% 0 1%;
      padding: 3rem 2.5%;
      text-align: center;
      position: relative;
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      h3{
        font-size: 15px;
      }
      p{
        font-size: 12px;
        font-family: helvetica;
      }
    }
  }
}




// final
// devices max width 414px, iPhone 5,5S
@media only screen and(max-width: 320px){

  #cover{
    top: 0px;
    filter:blur(2px);
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
   #heading2{
     text-shadow:
      8px  8px     #fff,
     -1px  1px     #fff,
      1px -1px     #fff,
     -1px -1px     #fff,
      1px  1px 5px #555;
     top: -120px;
     padding-left: 2px;
     position: inherit;
     font-size: 23px;
     color: #0C7FC4;
     font-family: 'comics';
     z-index: 2;
  }

  #heading1{
    text-shadow:
     8px  8px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #555;
    top: -250px;
    padding-left: 4px;
    position: absolute;
    font-size: 50px;
    color: #0C7FC4;
    font-family: 'comics';
    z-index: 2;
  }
  img{
      width: 40px;
    }
  button{
    margin-left: 45px;
    margin-top: 10px;
  }

  h3{
    font-size: 20px;
  }

  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
  blockquote, h6{
    font-size: 8px;
  }

  .spacer2{
    height: 10px;
  }

  .dc{
    width: 50px;
    margin-top: 35px;
    margin-left: 30px;
  }
  .marvel{
    margin: 5px;
    margin-top: 45px;
    width: 55px;
  }
  .vertigo{
    width: 50px;
    margin: 5px;
    margin-top: 35px;
    margin-left: 19px;
  }
  .image-comics, .darkhorse{
      height: 70px;
      width: 40px;
      margin-left: 20px;
      margin-top: 15px;
  }

  .darkhorse{
    margin-left: 15px;
  }

// events
  h1{
    text-align: center;
    font-size: 35px;
  }
  body > div > div > div.title-bar > h1{
    font-size: 20px;
  }

  body > div > div > div.container > img{
    width: 250px;
  }

  h2{
    text-align: center;
    font-size: 15px;
  }
  h4{
    text-align: center;
  }
  .icon{
    width: 80px;
  }
  .social-media-bar{
    height:120px;
  }
  .row{
    margin-right: 0px;
  }
  .button-wrapper{
    text-align: center;
    margin: 0;
  }
  .button{
    border: none;
    outline: none;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #054C7A;
  }
  #boxes {
    background: grey;
    padding: 2rem 0 6.5rem 0;
    position: relative;
    .service{
      background: white;
      width: 30%;
      float: left;
      margin: -5rem 1% 0 1%;
      padding: 3rem 2.5%;
      text-align: center;
      position: relative;
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      h3{
        font-size: 15px;
      }
      p{
        font-size: 12px;
        font-family: helvetica;
      }
    }
  }
}
