@import "bootstrap-sprockets";
@import "bootstrap";



html{
  position: relative;

}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#no_style{
  text-decoration: none;
}


h1,h2,h3,h4,h5,p{
  font-family: 'comics'
}

@font-face {
    font-family: 'comics';
    src: url('comics.ttf') format('truetype');
}
.active{
  background-color: #e7e7e7;
}

.love-comics > h1{
  font-size: 50px;
}



#nav{
  font-family: 'comics';
  font-size: 20px;
  background-color: #0C7FC4;
  width: 100%;
  border-bottom: solid 10px white;
  z-index: 2;
}
#navbar1 > ul > li > a,#navbar1 > ul > li:nth-child(6){
    color: #fff;
}

#cart-amount > h5{
  padding-right: 8px;
}


#cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% -62px;
  top: 0px;
  height: 800px;
  background-image: url('tacoma.jpg');
}

.heading{
  text-shadow:
   8px  8px     #fff,
  -1px  1px     #fff,
   1px -1px     #fff,
  -1px -1px     #fff,
   1px  1px 5px #555;
  top: 200px;
  padding-left: 100px;
  position: absolute;
  font-size: 180px;
  color: #0C7FC4;
  font-family: 'comics';
  z-index: 2;
}

.heading > #heading2{
  position: inherit;
  font-size: 70px;
  color: #0C7FC4;
  font-family: 'comics';
  z-index: 2;
  text-shadow:
   8px  8px     #fff,
  -1px  1px     #fff,
   1px -1px     #fff,
  -1px -1px     #fff,
   1px  1px 5px #555;
}

.parallax1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what{
  width: 300px;
}

.logo{
  padding-top: 30px;
  padding-left: 20px;
  width: 250px;
}


// michael superman
#superman{
  background-image: url('michael-superman');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.darken{
  background-color: rgba(70, 72, 82, 0.1);
}


// comic icon logo section

.subscribe{
  background-color: white;
}

@media screen and (max-width: 480px) {
    .dc{
      width: 60px;
      margin: 10px;
    }
    .marvel,.vertigo{
      width: 60px;
      margin: 10px;

    }
    .image-comics,.darkhorse{
      height: 100px;
    }
}


@media screen and (min-width: 480px) {
  .marvel{
    position: relative;
    top:90px;
    left: 30px;
    max-width: 200px;
  }
  .image-comics{
    padding: 40px;
    width: 200px;
  }
  .dc{
    left: 80px;
    max-width: 200px;
    margin: 45px;
  }
  .darkhorse{
    max-width: 200px;
    padding:40px;
  }
}
// end

// event section
#events{
  background-color: #F5F8FA;
}

.image{
  display: block;
  margin: 0 auto;
  width:150px;
  height: auto;
  padding: 10px;
}



// map
#map {
  width: 100%;
  height: 500px;
 }


 // social media bar
 .social-media-bar{
   background-color: #575A55;
   height: 150px;
 }
 .social{
   text-align: center;
   margin-top: 19px;
 }



 // events pages start

.events{
  background-color: #F5F8FA;
}

.title-bar{
  background-color: #7C7E83;
  color: white;
  text-align: center;
  height: 80px;
  padding-top: 5px ;
}

// products page
.images{
  width: 200px;
}

.products{
  padding: 50px;
}


//Products pages
.productbox {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
}
.caption {
  padding:10px;
  background-color:rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 40%;
  overflow: hidden;
	font-size: 11px;
  color: #FFF;
}

h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
.img-responsive img{
	width: 100%;
}
.container {
	width: 100%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 5px;
}
.btn-block {
  margin-top: 5px;
}
.saleoffrate{
  position: absolute;
      top:10px;
      left: 10px;
  padding-top: 13px;
  text-align:center;
  background-color: rgba(76, 174, 76,0.8);
  color: #FFFFFF;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 13px;
}
@media (min-width: 384px) and (max-width: 768px) {
  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
}
.card-img-top:hover{
   position: relative;
   transition: all .5s;
   transform: scale(.9);

   top: -5px;
 }

.spacer1{
  height: 200px;
}
.spacer2{
  height: 100px;
}

// footer
.spacer {
  height: 400px;
}
footer{
  background-color:#212220;
    bottom: 0px;
    width: 100%;
    position: relative;
}
// end footer
