@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #212220;
  min-width: 1000px;
}


h1,h2,h3,h4,h5,p{
  font-family: 'comics'
}

@font-face {
    font-family: 'comics';
    src: url('comics.ttf') format('truetype');
}
.active{
  background-color: #e7e7e7;
}

.love-comics > h1{
  font-size: 50px;
}


#nav{
  position: absolute;
  font-family: 'comics';
  font-size: 20px;
  background: #0C7FC4;
  width: 100%;
  border-bottom: solid 10px white;
  z-index: 2;
}

#cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% -62px;
  top: 0px;
  height: 800px;
  background-image: url('tacoma.jpg');
}

.heading{
  text-shadow:
   8px  8px     #fff,
  -1px  1px     #fff,
   1px -1px     #fff,
  -1px -1px     #fff,
   1px  1px 5px #555;
  top: 200px;
  padding-left: 100px;
  position: absolute;
  font-size: 180px;
  color: #0C7FC4;
  font-family: 'comics';
  z-index: 2;
}

.heading > #heading2{
  position: inherit;
  font-size: 70px;
  color: #0C7FC4;
  font-family: 'comics';
  z-index: 2;
  text-shadow:
   8px  8px     #fff,
  -1px  1px     #fff,
   1px -1px     #fff,
  -1px -1px     #fff,
   1px  1px 5px #555;
}

// subscribe white section as well as the comic logo section
.subscribe{
  font-family: 'comics';
  background-color: white;
  min-height: 400px;
  min-width: 1000px;
  padding-top: 80px;
  font-size: 50px;
}
// end
.parallax1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what{
  width: 300px;
}

.logo{
  padding-top: 30px;
  width: 250px;
}


// michael superman
#superman{
  background-image: url('michael-superman');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

// comic icon logo section
.marvel{
  position: relative;
  top:90px;
  left: 30px;
  width: 200px;
}
.image{
  position: relative;
  padding: 30px;
  width: 200px;
}
.dc{
  left: 80px;
  width: 200px;
  margin: 50px;
}
.darkhorse{
  width: 200px;
  padding:40px;
}
// end

// event section
#events{
  background-color: #F5F8FA;
}

.image{
  display: block;
  margin: 0 auto;
  width:150px;
  height: auto;
  padding: 10px;
}



// map
#map {
  width: 100%;
  height: 500px;
 }


 // social media bar
 .social-media-bar{
   background-color: #575A55;
   height: 150px;
 }
 .social{
   text-align: center;
   margin-top: 19px;
 }



 // events pages start

.events{
  background-color: #F5F8FA;
}

.title-bar{
  background-color: #7C7E83;
  color: white;
  text-align: center;
  height: 80px;
  padding-top: 5px ;
}
