<!DOCTYPE html>
<html>
  <head>
    <title>Destiny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav id="nav"class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <a class="active navbar-brand" href="#">Home</a>
        <li ><a href="#">Store </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <body>
    <%= yield %>
  </body>

  <section id="section-quick-contact" class="bordertop">
       <div class="container">
           <div class="row text-center wow fadeInUp">
               <div class="col-md-4">
                 <div class="wm-1"></div>
                 <i class="icon_mobile id-color size40 mb20"></i>
                 <h2 style="color:white">Store Hours</h2>
                  <p style="text-align: center; color:white;">Monday: CLOSED <br>
                  Tuesday: 1pm to 6 pm <br>
                  Wednesday: 12 noon to 8 pm <br>
                  Thursday: 12 noon to 8 pm <br>
                  Friday: 12 noon to 8 pm <br>
                  Saturday: 12 noon to 8 pm <br>
                  Sunday: 12 noon to 6 pm <br>
                    </p>
               </div>

               <div class="col-md-4">
                   <div class="wm-1"></div>
                   <i class="icon_house_alt id-color size40 mb20"></i>
                   <h5>Address</h5>
                   <h4>Orange County Convention Center,<br> 9800 International Dr,<br> Orlando, FL 32819, USA</h4>
               </div>

               <div class="col-md-4">

                   <div class="wm-1"></div>
                   <i class="icon_mail_alt id-color size40 mb20"></i>
                   <h5>Email Us</h5>
                   <h4>contact@eventbiz.com</h4>
               </div>
           </div>
       </div>
   </section>

  <footer>
     <div class="container text-center text-light">
         <div class="row">
             <div class="col-md-12">
                 <div class="social-icons big">
                     <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                     <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                     <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                     <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                     <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                     <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                 </div>
             </div>
         </div>
     </div>

     <div class="subfooter">
         <div class="container text-center">
             <div class="row">
                 <div class="col-md-12">
                     &copy; Copyright 2017 - Eventbiz by Designesia
                 </div>
             </div>
         </div>
     </div>
 </footer>
</html>
